.signContainer {
  color: #ffffff;
  position: relative;
  height: 85vh;

  .modal {
    margin: 0;
    width: 50%;
    background: linear-gradient(90deg, rgba(37,41,64,1) 0%, rgba(28,34,66,1) 50%, rgba(37,41,64,1) 100%);
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 100px 25px #3f4759;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .title {
      text-align: center;
      font-size: 5vh;
      font-weight: bold;
    }

    .inputContainer {
      margin: 1vh 2vw;
      .secondTitle {
        font-size: 2em;
        font-weight: 500;
      }
    }

    .error {
      text-align: center;
      font-size: 2.2vh;
      font-weight: 500;
      color: red;
    }

    .buttonContainer {
      display: flex;
      align-items: center;
      justify-content: center;

      .buttonSign {
        cursor: pointer;
        margin: 3vh 2.5vw;
        border-radius: 10px;
        border: 0 solid;
        background-color: #F2F2F2;
        font-weight: 700;
        padding: 1.5vh 2vw;
      }
    }
  }
}