.adminBasket {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 2% 5%;
  width: 80%;
  max-width: 90%;
  margin: 2vh auto;
  border: 0 solid #ffffff;
  border-radius: 50px;
  grid-gap: 5%;
  font-size: calc(5px + 0.8vw);
  box-shadow: 0px 0vw 3vw rgba(255, 255, 255, 0.1);

  .options {
    display: flex;
    flex-wrap: wrap;
    width: 40%;

    .value {
      margin: 0.3vh 1vw;
      text-align: left;
      .colordiv {
        height: 1em;
        float: right;
        width: 1.25rem;
        border-radius: 5px;
        border: solid black 2px;
        margin-left: 10px;
      }
    }
  }

  .quantity {
    align-items: start;
  }

  .clickable {
    display: block;
  }

  .imgCommand{
    width: 20%;
    text-align: center;
    font-weight: bolder;
  }
}

@media screen and (max-width: 800px) {
  .adminBasket {
    flex-direction: column;
    .options {
        width: 80%;
    }
  }
}
