.backgroundBanner{
  width: 100%;
  position: static;
  margin-bottom: -46%;
  padding-bottom: 0%;
}

.bannerText{
  text-align: center;
  font-size: 2.7vw;
  line-height: 10%;
  color: white;
}

.bannerBoldText{
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
  line-height: 25%;
  color: white;
}

.bannerBoldTextEnd{
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
  line-height: 25%;
  margin-bottom: 24%;
  color: white;
}

.leftBannerText{
  text-align: center;
  font-size: 2.7vw;
  line-height: 10%;
  color: white;
  margin-right: 38%;
}

.leftBannerBoldText{
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
  line-height: 25%;
  color: white;
  margin-right: 38%;
}

.leftBannerBoldTextEnd{
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
  line-height: 25%;
  color: white;
  margin-right: 38%;
  margin-bottom: 24.5%;
}