.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  background: #262626;
  min-height: 100vh;
  color: white;
}

.test {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0 #3c436a,
  7px 7px 20px 0 rgba(0,0,0,.1),
  4px 4px 5px 0 rgba(0,0,0,.1);
  outline: none;
}

.styledButton {
  font-size: 20px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(37,41,64);
//background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.styledButton:hover {
  color: #ffffff;
  background: transparent;
  box-shadow:none;
}
.styledButton:before,
.styledButton:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #3c436a;
  box-shadow:
          -1px -1px 5px 0 #fff,
          7px 7px 20px 0 #0003,
          4px 4px 5px 0 #0002;
  transition:400ms ease all;
}
.styledButton:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.styledButton:hover:before,
.styledButton:hover:after{
  width:100%;
  transition:800ms ease all;
}
