.admin__page {
  h1 {
    text-align: center;
  }
  > div:not([class*="showSeenMessages"]) {
    margin: 5vh auto;
    width: 70vw;
    height: 50vh;
    overflow: scroll;
    border: solid 1px white;
    resize: vertical;
    padding: 10px;

    &.attributes > button{
      margin: auto;
      display: block;
    }

    &:last-child {
      margin-bottom: 100px;
      height: 500px;
    }
  }

  .accounts {
     > button:last-child {
       display: block;
       margin: auto;
     }
  }
  .showSeenMessages {
    text-align: center;
    margin: 0;
    padding: 10px;
  }
}
